<div class="footer" id="noustrouver">
  <div class="location">
    <h3>NOTRE PÉPINIÈRE</h3>
    <p>Adresse : 3507 Route départementale 8 </p>
    <p>Saint-Aygulf, France, 83370</p>
    <p>Tél : 04 94 44 28 67</p>
    <p>E-mail : romainbenit@atoutjardin.com</p>
  </div>
  <div class="hours">
    <h3>HORAIRES</h3>
    <p>Lun - Ven : 8 h - 12h / 13h30 - 18h30</p>
    <p>Samedi : 9 h - 12h / 13h30 - 18h30</p>
    <p>Dimanche : Fermé</p>
  </div>
</div>
<div class="social_icons">
  <a href='https://www.facebook.com/atoutjardins' target='_blank'>
  <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
</div>
