//=====================================================//
//==================== phone style ====================//
//=====================================================//

@media screen and (min-width: 350px){
  .banner {
    display: flex;
    align-items: center;
    height: 44vh;
    background-color: rgba( 237, 237, 238, 100%);
  }

  .banner .container {
    text-align: center;
  }

  .background-text h1{
    font-family: 'busorama', sans-serif;
    font-weight: bold;
    font-size: 90px;
    margin: 0;
    letter-spacing: 14px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    background-image: url("background.jpeg");
    background-size: 120%;
    animation: bg-animation 40s cubic-bezier(0.3,0,0.7,1) infinite;
  }
  .background-text h2{
    font-family: 'busorama', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    letter-spacing: 10px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    background-image: url("background.jpg");
    background-size: 120%;
    animation: bg-animation 40s cubic-bezier(0.3,0,0.7,1) infinite;
  }

  @keyframes bg-animation{
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
  }
}



//=====================================================//
//=================== tablet style ===================//
//=====================================================//

@media screen and (min-width: 750px) {
  .banner {
    height: 88vh;
  }

  .background-text h1{
    font-size: 214px;
  }

  .background-text h2{
    font-size: 62px;
  }
}

//=====================================================//
//=================== desktop style ===================//
//=====================================================//

@media screen and (min-width: 1200px) {
  .banner {
    height: 90vh;
  }

  .background-text h1{
    font-size: 380px;
  }

  .background-text h2{
    font-size: 125px;
  }
}
