//=====================================================//
//==================== phone style ====================//
//=====================================================//

@media screen and (min-width: 350px){
  .footer{
    background-color: rgba( 17, 49, 50, 100%);
    display: grid;
    grid-template-columns: 1fr;
  }

  .location{
    height: 200px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction:column;
    margin-top: 80px;
  }

  .location h3, .hours h3{
    font-size: 18px;
    color: white;
    letter-spacing: 0.45em;
    font-family: montserrat;
    font-weight: 300;
    padding-bottom: 24px;
  }

  .location p, .hours p{
    font-size: 14px;
    color: white;
    font-family: montserrat;
    font-weight: 200;
    margin-bottom: 8px;
  }

  .hours{
    height: 200px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction:column;
    margin-top: 80px;
  }

}



//=====================================================//
//=================== tablet style ===================//
//=====================================================//

@media screen and (min-width: 750px) {
  .footer-text{
    display: flex;
  }
}

.location h3, .hours h3{
  font-size: 16px;
}

.location p, .hours p{
  font-size: 12px;
}


//=====================================================//
//=================== desktop style ===================//
//=====================================================//

@media screen and (min-width: 1200px) {
  .location h3, .hours h3{
    font-size: 18px;
  }

  .location p, .hours p{
    font-size: 14px;
  }
}
