//=====================================================//
//==================== phone style ====================//
//=====================================================//

@media screen and (min-width: 350px){

  .navbar-lewagon {
    background: rgba( 237, 237, 238, 100%);
    border-bottom: solid 1px rgba(0, 0, 0, 0.241);
    box-shadow: 0 0 15px rgba(217, 205, 205, 0.536);
  }

  .navbar-brand{
    margin: 0;
  }

  .navbar-brand img{
    width: 240px;
  }

  .container-fluid{
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-link-text li{
    list-style: none;
    padding: 20px;
  }

  .navbar-link{
    text-decoration: none;
    color: rgb(62, 62, 62);
  }

  .navbar-link:hover{
    color: black;
    font-weight: 600;
  }
}


//=====================================================//
//=================== desktop style ===================//
//=====================================================//

@media screen and (min-width: 1200px) {

  .navbar-lewagon {
    justify-content: space-between;
    position: sticky;
    top: 0px;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand{
    padding: 0;
    width: 25%;
  }

  .navbar-lewagon .navbar-brand img {
    width: 160px;
  }

  .container-fluid{
    padding-left: 35px;
    padding-right: 35px;
  }

  .nav-link-text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-link{
    text-decoration: none;
    color: rgb(62, 62, 62);
  }

  .navbar-login{
    width: 25%;
  }
}
